.main {
  margin-right: 300px;
  color: #ebf0eb;
  font-family: "Jost", sans-serif;
}
.avatar {
  width: 100%;
  height: auto;
  border-radius: 40%;
  opacity: 1;
}

.scroll {
  width: 600px;
  overflow-y: scroll;
  margin-bottom: 30px;
  margin-top: 20px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #cccccc;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(226, 86, 175) 0%,
    rgba(139, 98, 204) 25%,
    transparent 100%,
    rgba(139, 98, 204) 75%,
    transparent
  );
}

.info {
  max-height: 75vh;
  font-size: 1.5vw;
  padding-right: 30px;
}

.project {
  height: 550px;
}

a img {
  max-width: 550px;
}

@media screen and (max-width: 1750px) {
  .main {
    margin-left: 450px;
  }
  .scroll {
    margin-top: 130px;
  }
  .avatar {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 60%;
    height: 50%;
  }
}

@media screen and (max-width: 1300px) {
  .main {
    margin-left: 350px;
  }

  .info {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 1020px) {
  .scroll {
    max-width: 550px;
  }
  .main {
    margin-left: 140px;
    margin-right: 0px;
  }
  .avatar {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 770px) {
  .info {
    padding-right: 10px;
    font-size: 3.5vw;
  }
  .project {
    width: 350px;
    height: 450px;
  }

  .main {
    margin-left: 40px;
  }

  a img {
    max-width: 350px;
  }

  .avatar {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 670px) {
  .scroll {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .scroll {
    max-width: 300px;
  }

  .project {
    width: 260px;
    height: 350px;
  }

  a img {
    max-width: 260px;
  }
  .scroll::-webkit-scrollbar {
    width: 6px;
  }

  .scroll {
    margin-top: 100px;
  }
}

@media screen and (max-width: 300px) {

  .scroll {
    max-width: 250px;
  }
  .project {
    width: 230px;
    height: 300px;
  }
  .main {
    margin-left: 10px;
  }

  a img {
    max-width: 230px;
  }

}
