a,
a:active,
a:visited {
  text-decoration: none;
}

.btn {
	font-size: 1.5em;
	border-radius: 10px;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.2);
	padding: 5px 20px;
	transition: background-color 0.2s;
	margin-top: 2%;
	color: #ebf0eb;
	font-family: "Jost", sans-serif;
 }

 .btn:hover {
  font-size: 1.5em;
  border-radius: 10px;
  border: 0;
  background-image: linear-gradient(120deg, #8b62cc, #e256af);
  display: inline-block;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);
  
 }