.container {
  
  margin-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  color: #ebf0eb;
}

.about {
	display: flex;
	flex-direction: column;
	margin-left: 300px;
}
.text {
  font-size: 3.5vh;
  margin-bottom: 50px;
}

.card {
	margin-right: 400px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.2);
  background-color: #fcfffc;
  color: #222;

}

.card::after {
	display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 560px;
  height: 420px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(20px,20px);
}
.key {
  padding: 10px;
  font-size: 3.5vh;
}

.skills {
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: 2.5vh;
}

.skills li {
  list-style-type: none;
  border-bottom: 10px solid transparent;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 10px;
}


.skills img {
  max-width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center;
  justify-content: start;
}
