.container {
  margin-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  color: #ebf0eb;
}

.text {
  font-size: 3.5vh;
  margin-bottom: 50px;
}

.card {
  margin-right: 400px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.2);
  background-color: #fcfffc;
  color: #222;
}

.card::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 560px;
  height: 420px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(20px, 20px);
}
.key {
  padding: 10px;
  margin-left: 15px;
  font-size: 3.5vh;
}

.skills {
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: 2.5vh;
}

.skills li {
  list-style-type: none;
  border-bottom: 10px solid transparent;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 10px;
}

.skills img {
  max-width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
.cv {
  color: rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  letter-spacing: 2px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.cv:hover {
  color: #fcfffc;
  background-color: rgba(255, 255, 255, 0.2);
}


@media screen and (max-width: 1750px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-top: 130px;
    margin-left: 500px;
    margin-right: 100px;
    max-width: 500px;
  }
  .card::after {
    width: 530px;
    height: 500px;
  }
  .skills {
    justify-content: start;
  }
}

@media screen and (max-width: 1400px) {
  .card::after {
    height: 520px;
    width: 500px;
  }
}

@media screen and (max-width: 1270px) {
  .card::after {
    width: 450px;
    height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 400px;
    margin-left: 300px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 850px) {
  .card {
    margin-left: 200px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 750px) {
  .card {
    margin-left: 50px;
    max-width: 330px;
  }

  .card::after {
    width: 350px;
    height: 500px;
  }
}
