.main {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  color: #ebf0eb;
  margin-left: 200px;
}

.text {
  font-size: 8.5vh;
  letter-spacing: 5px;
  font-family: "Days One", sans-serif;
  opacity: 0.4;
  margin-bottom: 70px;
 
}

.text:before {
  content: "<";
  left: 0;
}

.text:after {
  content: "/>";
  right: 0;
}

.text:after,
.text:before {
  color: #ebf0eb;
  opacity: 0.4;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 1750px) {
  .main {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .main {
    margin-left: 10px;
  }
}
