
.header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  background: linear-gradient(
		to top,
		rgba(83, 200, 239, 0.8) 0%,
		rgba(81, 106, 204, 0.8) 96%
	 );
  font-size: 23px;
  color: #2b2c48;
  font-family: "Days One", sans-serif;
  margin-bottom: 100px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 27px;
  align-items: baseline;
}

.nav:last-child {
	margin-right: 100px;
}


