a,
a:active,
a:visited {
  text-decoration: none;
}
.header {
  color: #ebf0eb;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 23px;
  font-family: "Days One", sans-serif;
  margin-bottom: 100px;
}
.name {
  color: #ebf0eb;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 27px;
  align-items: baseline;
}

.nav:last-child {
	margin-right: 100px;
}
.content {
  color: #ebf0eb;
}


.content:hover {
  border-color: #7ce3ff;
  padding: 10px 25px;
  border-radius: 3px;
  border: 1px solid #7ce3ff;
  background: #7ce3ff;
  color: #222;
}


