a,
a:active,
a:visited {
  text-decoration: none;
}
.header {
  color: #ebf0eb;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.2vw;
  font-family: "Days One", sans-serif;
  margin-bottom: 100px;
}
.name {
  color: #ebf0eb;
  transition: color 0.2s;
}
.name:hover {
  color: rgba(255, 255, 255, 0.2);

}

.burger {
  display: none;
  margin: 0 20px 0 0;
  width: 50px;
  height: 45.5px;
  padding: 10px;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: white;
  transform-origin: left;
  transition: all 1s ease;
  border-radius: 2px;
}

.nav {
  display: flex;
  gap: 50px;
  font-size: 1.5vw;
  align-items: baseline;
}

.nav:last-child {
  margin-right: 100px;
}
.content {
  color: #ebf0eb;
}

.content:hover {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.2vw;
  background-image: linear-gradient(
    120deg,
    rgb(139, 98, 204),
    rgb(226, 86, 175)
  );
  display: inline-block;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 1.5vw;
  }

  .nav {
    font-size: 1.8vw;
    display: none;
    padding-inline-start: 0;
    width: 40vw;
    height: 60vh;
    background-color: rgba(46, 46, 46, 0.4);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 90px;
    right: 90%;
    z-index: 1;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease;
  }
  .content:hover {
    font-size: 1.5vw;
  }
  .navActive {
    opacity: 100%;
    right: 0;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    cursor: pointer;
    height: 4vw;
    width: 4vw;
  }

  .burgerActive :first-child {
    transform: rotate(61deg);
  }
  .burgerActive :nth-child(2) {
    opacity: 0;
  }
  .burgerActive :last-child {
    transform: rotate(-61deg);
  }
}

@media screen and (max-width: 850px) {
  .header {
    font-size: 2.5vw;
  }
  .nav {
    font-size: 3vw;
    width: 50vw;
  }
  .burger {
    height: 4.5vw;
    width: 4.5vw;
  }
}
